.boards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

.board {
  margin-bottom: 32px;
  cursor: pointer;
}

.board img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.boardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boardInfo h1 {
  font-weight: 500;
  font-size: 16px;
}

.boardInfo span {
  display: inline-block;
  font-size: 13px;
  color: gray;
}

@media (max-width: 768px) {
  .boards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .boards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 360px) {
  .boards {
    grid-template-columns: 1fr;
  }
}
